.Signup {
    height: 668px;
    background: url('./bg.jpg') center no-repeat;
    background-size: cover;
    z-index: 4;
}

.Signup .Body {
    margin: 0 200px;
    padding-top: 61px;
    height: 668px;
    display: flex;
    align-content: center;
}

.Signup .SignupForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 500px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
    flex-grow: 0.3;
}

.Signup form {
    width: 100%;
    text-align: left;
}

.Signup .info {
    display: flex;
    justify-content: space-between;
}

.Signup p {
    position: absolute;
    bottom: 230px;
}

.Signup a {
    text-decoration: none;
}