.CoverHome {
    background: url('./cover-home.png') no-repeat;
    background-size: cover;
    height: 600px;
}

.CoverHome .text {
    float: left;
    margin: 275px 0 0 270px;
    text-align: left;
}

.CoverHome h1 {
    font-size: 3.5rem;
}

.CoverHome h3 {
    font-size: 2rem;
}