.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(61, 61, 68);
    color: white;
}

nav {
    display: inline;
}

span {
    padding: 15px;
}