.Header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(61, 61, 68);
    color: white;
}

.Header img {
    padding: 8px 20px;
    margin: 0px;
    height: 54px;
}

.Header nav {
    display: inline;
}

.Header span {
    padding: 15px;
}