.Footer .container {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: space-between; 
    background: rgb(61, 61, 68);
    color: white;
    bottom: 0px;
}

.Footer span {
    padding: 20px;
}

.Footer p {
    display: inline;
    padding: 15px;
}