.Login .Body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 668px;
  background: url("./bg1.jpg") no-repeat;
  background-size: cover;
}

.Login .LoginForm {
  flex-grow: 0.4;
  height: 480px;
  background-color: white;
}
