.Cover {
    background: url('./cover.png') no-repeat;
    background-size: cover;
    height: 600px;
}

.Cover .text {
    float: left;
    margin: 275px 0 0 270px;
    text-align: left;
}

.Cover h1 {
    font-size: 3.5rem;
}

.Cover h3 {
    font-size: 2rem;
}