.NewMentors {
    margin-top: 100px;
    padding-top: 10px;
    padding-left: 120px;
    padding-right: 40px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    text-align: left;
    font-family: 'Cantarell';
    background: url('./bg.png');
    background-size: cover;
    color: white
}

.NewMentors h2 {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 3.2rem;
    max-width: 1200px;
    margin-bottom: 0px;
}

.NewMentors .content {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.NewMentors .info {
    max-width: 420px;
}

.NewMentors .carousel {
    padding-top: 20px;
    display: flex;
    align-items: center;
    width: 800px;
}

.NewMentors .carousel-in {
    width: 100%;
}

.NewMentors .carousel-in2 {
    width: 100%;
    justify-content: flex-end;
}

.NewMentors .carousel .name {
    margin-bottom: 1rem;
}

.NewMentors .carousel h5 {
    font-size: 1.5rem;
    margin: 0;
}

.NewMentors .carousel p {
    line-height: 1.1rem;
    margin: 0;
}